@()

    <nav id="navbar" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-menus" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@routes.HomeController.index()">Home</a>
            </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="header-menus">
                <ul class="nav navbar-nav">
            </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="active">
                        <a href="#">
                        Menu 1
                        </a>
                    </li>
                    <li >
                        <a href="#">Menu 2</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                        aria-haspopup="true" aria-expanded="false">
                            @if(session().get("username") == null) {
                                @Messages("home.login")
                            } else {
                                @Messages("home.account")
                            } <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            @if(session().get("username") == null) {
                                <li><a href="/login">Log In</a></li>
                            } else {
                                <li><a href="/logout">Log out</a></li>
                            }
                        <li role="separator" class="divider"></li>
                        <li><a href="#">About Us</a></li>
                        </ul>
                    </li>
                </ul>
            </div> <!-- /.navbar-collapse -->
        </div> <!-- /.container-fluid -->
    </nav>
